# Virtual environment
venv/

# Python bytecode
__pycache__/
*.pyc

# Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*~
.project
*.pydevproject
.DS_Store

# Environment-specific settings
.env

