* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    padding: 0;
    margin: 0;
  }
  
  #unauthorized {
    position: relative;
    height: 100vh;
  }
  
  #unauthorized .unauthorized {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .unauthorized {
    max-width: 520px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
  }
  
  .unauthorized .unauthorized-401 {
    position: relative;
    height: 240px;
  }
  
  .unauthorized .unauthorized-401 h1 {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 252px;
    font-weight: 900;
    margin: 0px;
    color: #262626;
    text-transform: uppercase;
    letter-spacing: -40px;
    margin-left: -20px;
  }
  
  .unauthorized .unauthorized-401 h1>span {
    text-shadow: -8px 0px 0px #fff;
  }
  
  .unauthorized .unauthorized-401 h3 {
    font-family: 'Cabin', sans-serif;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #262626;
    margin: 0px;
    letter-spacing: 3px;
    padding-left: 6px;
  }
  
  .unauthorized h2 {
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000;
    margin-top: 186px;
    margin-bottom: 25px;
  }
  
  @media only screen and (max-width: 767px) {
    .unauthorized .unauthorized-401 {
      height: 200px;
    }
    .unauthorized .unauthorized-401 h1 {
      font-size: 200px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .unauthorized .unauthorized-401 {
      height: 162px;
    }
    .unauthorized .unauthorized-401 h1 {
      font-size: 162px;
      height: 150px;
      line-height: 162px;
    }
    .unauthorized h2 {
      font-size: 16px;
    }
  }

  .button {
    display: flex;
    border-radius: 7px;
    border: none;
    background: #1875FF;
    color: white;
    font-family: inherit;
    text-align: center;
    font-size: 13px;
    box-shadow: 0px 14px 56px -11px #1875FF;
    width: 10em;
    padding: 1em;
    transition: all 0.4s;
    cursor: pointer;
    margin-left: 800px;
    margin-top: -263px;
   }
   /* sign up button */
   .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
   }
   
   .button span:after {
    content: 'for free';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.7s;
   }
   
   .button:hover span {
    padding-right: 3.55em;
   }
   
   .button:hover span:after {
    opacity: 4;
    right: 0;
   }