body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0E0D11;
    color: white;
}

.screen {
    position: absolute;
    top: 35%;
    margin-top: -200px;
    left: 40%;
    width: 400px;
}

form {
    border-radius: 10px;
    background-color: #1D1B22;
    height: 600px;
    position: relative;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.logo {
    width: 120px;
    border-radius: 50%;
    margin-top: 20px;
}

input[type=text], input[type=password] {
    font-size: 16px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    border-radius: 0.375rem;
    position: relative;
    top: 33px;
    background-color: #46484D;
    color: #F8F8F2;
}

input[type=password] {
    position: relative;
    top: 50px;
}

input::placeholder {
    color: #B0AEB5;
}

button {
    background-color: #44475A;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    position: relative;
    top: 100px;
    border-radius: 10px;
}

button:hover {
    opacity: 0.8;
}

.container {
    padding: 20px;
    position: absolute;
    height: 450px;
    
}

label {
    position: relative;
    top: 120px;
}