@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
    background-color: #0E0D11;
    color: #F8F8F2;
    font-family: 'Montserrat', sans-serif;
}

#userarea-section {
    display: flex;
    background-color: #1D1B22;
    width: 40%;
    height: 25%;
    position: fixed;
    inset: 0px;
    max-width: 100vw;
    max-height: 100dvh;
    margin: auto;
    border-radius: 5px;
}

h1 {
    display: flex;
    margin-left: 40%;
    max-width: 40%;
    height: 50px;
}


.signup {
    display: flex;
    justify-content: flex-start;
}

.login {
    display: flex;
    align-content: flex-start;
}

.login-button {
    display: flex;
    height: 60px;
    margin-top: 100px;
    margin-left: -48%;
}

.signup-button {
    display: flex;
    height: 60px;
    margin-top: 100px;
    margin-left: 40%;
}


.btn {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: #F8F8F2;
    padding: 18px 32px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 30px;
    background: #44475A;
}

p {
    margin-top: 165px;
    margin-left: -152.5px;
}