<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>401! Unauthorized</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/css/error.css" />
</head>
<body>
    <div id="unauthorized">
        <div class="unauthorized">
            <div class="unauthorized-401">
                <h3>Oops! You are not Authorized</h3>
                <h1><span>4</span><span>0</span><span>1</span></h1>
                <h2>we are sorry, but to save your notes you have to sign up or login</h2>
            </div>
        </div>
    </div>
    <button class="button"><span>Register</span></button>
</body>
</html>