<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access</title>
    <link rel="stylesheet" href="/static/css/userarea.css">
</head>
<body>
    <div id="userarea-section">
        <h1>Join Us!</h1>
        <div class="login-button">
            <button class="btn login"><a href="/login">Login</a></button>
        </div>
        <div class="signup-button">
            <p>don't have an account?</p>
            <button class="btn signup"><a href="/register">Sign Up</a></button>
        </div>
    </div>
</body>
</html>